html, body {
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: monospace;
    font-size: 12px
}

#stat {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 6px;
    border-bottom: 2px solid;
    border-right: 2px solid;
}

#extra {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 6px;
    border-top: 2px solid;
    border-right: 2px solid;
    width: calc(min(300px, 50%));
}

#extra div.clickable {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

canvas {
    width: 100%;
    height: 100%;
}